@use "../abtracts/variables" as *;

body {
  @include font(p);
  @include color(color, grey);
}

.container {
  @include space(padding, lg);
  @include color(background-color, cream);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
